body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.peta {
    width: 80%;
    max-width: 600px;
}

#details {
    text-align: center;
    margin-top: 20px;
}

#play-sound, #stop-sound {
    margin-top: 10px;
}

.selected-region {
    fill: #FFD700; /* Mengubah warna saat provinsi diklik */
}
